*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

/* .color{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

.color .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    width: 100%;
    border: 1px solid black;
}

.color h1{
    color: rebeccapurple;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}

.color h3{
    border: 1px solid white;
}

span{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 30px;
    text-align: center;
}

.red{
    background-color: red;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}


.green{
    background-color: green;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.yellow{
    background-color: yellow;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: black;
}

.blue{
    background-color: blue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.gray{
    background-color: gray;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.purple{
    background-color: purple;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.cyan{
    background-color: cyan;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: black;
}

.brown{
    background-color: brown;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.orange{
    background-color: orange;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.aqua{
    background-color: aqua;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: black;
}

.bisque{
    background-color: bisque;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: black;
}

.chocolate{
    background-color: chocolate;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.sienna{
    background-color: sienna;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.antiquewhite{
    background-color: antiquewhite;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: black;
}

.teal{
    background-color: teal;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.black{
    background-color: black;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darkgray{
    background-color: darkgray;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.orangered{
    background-color: orangered;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darkslategray{
    background-color: darkslategray;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darkgoldenrod{
    background-color: darkgoldenrod;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.tan{
    background-color: tan;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.lime{
    background-color: lime;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.mediumblue{
    background-color: mediumblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.mediumSpringGreen{
    background-color: mediumspringgreen;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: black;
}

.olive{
    background-color: olive;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.lightblue{
    background-color: lightblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.royalblue{
    background-color: royalblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.lavender{
    background-color: lavender;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: black;
}

.rebeccapurple{
    background-color: rebeccapurple;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.hotpink{
    background-color: hotpink;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.dimgrey{
    background-color: dimgrey;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.navy{
    background-color: navy;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darkred{
    background-color: darkred;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darkturquoise{
    background-color: darkturquoise;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darkgreen{
    background-color: darkgreen;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.moccasin{
    background-color: moccasin;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: black;
}

.maroon{
    background-color: maroon;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darksalmon{
    background-color: darksalmon;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darkolivegreen{
    background-color: darkolivegreen;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.darkviolet{
    background-color: darkviolet;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    flex-direction: column;
    color: white;
}

.red:hover, .green:hover, .yellow:hover, .blue:hover, .gray:hover, .purple:hover, .cyan:hover, .brown:hover,
.orange:hover, .aqua:hover, .bisque:hover, .chocolate:hover, .sienna:hover, .antiquewhite:hover, .teal:hover, 
.black:hover, .darkgray:hover, .orangered:hover, .darkslategray:hover, .darkgoldenrod:hover, .tan:hover, 
.lime:hover, .mediumblue:hover, .mediumSpringGreen:hover, .olive:hover, .lightblue:hover, .royalblue:hover,
.lavender:hover, .rebeccapurple:hover, .hotpink:hover, .dimgrey:hover, .navy:hover, .darkred:hover, .darkturquoise:hover,
.moccasin:hover, .darkgreen:hover, .darkviolet:hover, .darksalmon:hover, .maroon:hover, .darkolivegreen:hover{
    scale:1.02;
    transition: all 0.2s linear;
    border-radius: 10px;
}


/* PARTIE FONT  */


/* .font{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
} */

.font .container{
    width: 100%;
    min-height: 50vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 0.5fr ;
    grid-template-rows: repeat(3, 1fr);
}

.poppins{
    background-color: blue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    color: white;
    padding: 2rem;
}
.font h3{
    margin-bottom: 1rem;
    border: 1px solid white;
}
.font h1{
    color: rebeccapurple;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}

.medium{
    background-color: skyblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}


.open_sans{
    background-color: red;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    color: white;
}

.roboto{
    background-color: rebeccapurple;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    color: white;
}
.open{
    background-color: orangered;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.block{
    background-color: violet;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}


/* TEXT-STYLE */


/* .text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-top: 5rem;
} */

.text .container{
    width: 100%;
    border: 1px solid black;
    background-color: rgb(46, 193, 252);
}

ul{
    padding: 0 0 0 3rem;
}

ul li{
    padding: 0.5rem;
}

